.transfer{
    height: 100%;
    display: flex;
    flex-direction: column;

    &-main {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        height: 100%;
    }

    &-actions {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .button {
            justify-content: flex-start;
            border-radius: 16px;
        }
    }

    &-files > div {
        height: 100%;
    }
}