.transfer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &-main {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
        height: 100%;
        overflow: hidden;
    }

    &-actions {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .button {
            justify-content: flex-start;
            border-radius: 16px;
        }
    }

    &-files {
        height: 100%;
        overflow: hidden;

        & > div {
            height: 100%;
        }
    }
}
